@{
    Layout = null;
    ViewBag.Title = "Your Education Information page.";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>
    
        <table align="center" style="font-size:25px; text-align:center;">
            <tr>
                <td>
                    <a href=" /home/index">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href=" /home/Education">Education</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href=" /home/Project">Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href=" /home/Reference">Reference</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href=" /home/Personal_info">Personal Info</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>        
       
        <table border="1" cellspacing="0" align="center" style="font-size:25px; text-align:center;">
            <tr>
                <td>Degree</td>
                <td>Year</td>
                <td>Institution name</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>2017</td>
                <td>Adarsha High School, Dinajpur</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>2019</td>
                <td>Holy Land Collage, Dinajpur</td>
            </tr>
            <tr>
                <td>BSc</td>
                <td>2025</td>
                <td>American International University - Bangladesh</td>
            </tr>
        </table>
    </div>
</body>
</html>
