@{
    ViewBag.Title = "Home Page";
}

<main>

    <a href=" /home/index">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=" /home/Education">Education</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=" /home/Project">Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=" /home/Reference">Reference</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=" /home/Personal_info">Personal Info</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <p>Name: Md. Al Faiaz Rahman Fahim</p>
    <p>ID: 21-45080-2</p>
    <p>Email: alfaiazrahman62@gmail.com</p>
    <p>GitHub Link: </p>


</main>