@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project Details</title>
</head>
<body>
    <div style="font-size: 25px; text-align:center;">
        <a href=" /home/index">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Education">Education</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Project">Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Reference">Reference</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Personal_info">Personal Info</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div style="font-size: 25px; text-align: center;">
        <p>Web Tech: Job Portal</p>
        <p>C#: Library Management System</p>
        <p>Java: Hospital Management System</p>
    </div>
</body>
</html>
