@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href=" /home/index">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Education">Education</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Project">Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Reference">Reference</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=" /home/Personal_info">Personal Info</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</body>
</html>
